<section class="pokemon">
    <h1>
        <img
            src="{{pokemon.sprites}}"
            alt=""
        ><img
            src="{{pokemon.sprites}}"
            alt=""
        >
        {{pokemon.name | replace : '-' : ' '}}</h1>
    <h3>({{pokemon.name | replace : '-' : ' '}})</h3>
    <h2>Statistics:</h2>
    <ul>
        <li *ngFor="let stat of pokemon.stats">
            <h4>
                {{stat.stat.name | replace : '-' : ' '}}
            </h4>
            <p><strong>Base:</strong> {{stat.base_stat}}</p>
            <p><strong>Effort:</strong> {{stat.effort}}</p>
        </li>
    </ul>
</section>

<section class="pokemon-navigation">
    <a [routerLink]="['/pokemon', prev.id]">< See <span>{{prev.name| replace : '-' : ' '}}</span> Pokemon</a>
    <a [routerLink]="['/pokemon', next.id]">See <span>{{next.name| replace : '-' : ' '}}</span> Pokemon ></a>
</section>
