$pokeGold: #a77804;

.pokemon {
    padding: 15px;

    h1,
    h3 {
        color: $pokeGold;
        font-family: 'pokemon-solid';
        text-align: center;
        font-size: 35px;
        position: relative;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    h1 img {
        position: absolute;
        left: 0;

        &:nth-child(2) {
            left: auto;
            right: 0;
        }
    }

    h3 {
        text-transform: uppercase;
        font-size: 10px;
        font-family: 'pokemon-font';
    }

    h4 {
        font-size: 20px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    li {
        display: inline-block;
        margin: 20px;
    }
}


.pokemon-navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    a {
        color: #000;
    }
    span {
        color: $pokeGold;
        font-family: 'pokemon-solid';
    }
}
