<header>
    <section class="pokemon-search" [ngClass]="{result: liveSearch.length > 0}">
        <label for="search">
            Search your Pokemon <span *ngIf="search.length < 2">(min. 2 chars)</span>
        </label>
        <input
            type="text"
            name="search"
            [(ngModel)]="search"
            (ngModelChange)="searchAction($event)"
            placeholder="Enter your Pokemon name"
        >
        <ul *ngIf="liveSearch.length > 0">
            <li *ngFor="let p of liveSearch" [routerLink]="['pokemon/', p.id]" (click)="liveSearch = []; search = ''">
                {{p.name}}
            </li>
        </ul>
    </section>
    <section class="list" [routerLink]="['/']">
        <h2>Back to list</h2>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </section>
    <div class="title">
        <h1>Pokemon Base</h1>
    </div>
</header>

<router-outlet></router-outlet>