<section class="pokemon-list">
    <h1>List of Pokemons</h1>

    <section class="table">
        <table>
            <thead>
                <tr>
                    <th>Lp</th>
                    <th>Name</th>
                    <th>Go to page</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of pokemonsList | slice:start:stop ; let i = index">
                    <td>{{start + i + 1}}</td>
                    <td>{{p.name}}</td>
                    <td><a [routerLink]="['pokemon', p.id]">Link</a></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="pagination">
        <a *ngIf="paginationActiveIndex > 0" (click)="pagination(paginationActiveIndex - 1); paginationActiveIndex = paginationActiveIndex - 1"><</a>
        <a
            *ngFor="let pag of [].constructor(10); let i = index"
            (click)="pagination(i); paginationActiveIndex = i"
            [ngClass]="{active: paginationActiveIndex === i}"
        > {{i + 1}} </a>
        <a *ngIf="paginationActiveIndex < 9" (click)="pagination(paginationActiveIndex + 1); paginationActiveIndex = paginationActiveIndex + 1">></a>
    </section>

</section>
