$pokeGold: #a77804;

h1 {
    color: $pokeGold;
    font-family: 'pokemon-solid';
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    border-left: 1px solid $pokeGold;

    th,td {
        padding: 10px;
    }

    td {
        border-right: 1px solid $pokeGold;
        border-bottom: 1px solid $pokeGold;
    }
    
    thead {
        th {
            background-color: $pokeGold;
            color: #fff;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-right: 1px solid #fff;

            &:last-child {
                border-right: none;
            }
        }
    }
}

.pokemon-list {
    padding: 15px;
}

.pagination {
    padding: 10px;
    text-align: center;
    a {
        user-select: none;
        display: inline-block;
        width: 30px;
        height: 30px;
        color: $pokeGold;
        line-height: 30px;
        font-size: 16px;
        border: 1px solid $pokeGold;
        text-align: center;
        margin: 0 8px;
        cursor: pointer;
        transition: all .6s;

        &:hover,
        &.active {
            color: #fff;
            background-color: $pokeGold;
        }
    }
}