@import './scss/reset';

@font-face {
    font-family: 'pokemon-solid';
    src: url('./assets/fonts/pokemon-solid.woff') format('woff');
}

@font-face {
    font-family: 'pokemon-font';
    src: url('./assets/fonts/pokemon-font.eot');
    /* IE9 Compat Modes */
    src: url('./assets/fonts/pokemon-font.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./assets/fonts/pokemon-font.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./assets/fonts/pokemon-font.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('./assets/fonts/pokemon-font.ttf') format('truetype')
        /* Safari, Android, iOS */
}

base {
    font-size: 16px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    font-family: 'pokemon-font', monospace;
}
